.visualiser-container {
    display: flex;
  padding: 5px;
  margin: auto;
  width: 50%; /* Adjust width as needed */
  background-color: #f0f0f0; /* Example background color */
  border: 1px solid #ccc; /* Example border */
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); Example shadow */
}

.input-container {
  display: table;
  width: 200px; /* Small fixed width */
  margin: 20px auto; /* Centering the table */
  padding: 10px;
  border: 1px solid #ccc; /* Example border */
  background-color: #f0f0f0; /* Example background color */
}

