.visualiser-container {
    flex: 1; /* Takes up the remaining space */
    display: flex;
    align-items: center;
    padding: 10px auto;
    margin: 10px auto;
    width: 100%; /* Full width */
    height: 100vh; /* Adjust height as needed */
    background-color: #333333; /* Darker background for the visualizer */
}

.input-container {
  display: table;
  width: 70%; /* Small fixed width */
  margin: 10px auto; /* Centering the table */
  padding: 10px auto;
  background-color: #121212; /* Example background color */
}

/* set the background */
.full-page {
  background-color: #121212;
  color: #fff;
  height: 100vh;
  display: flex;
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}
